.header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logoImage {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

nav {
  flex: 1;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

li {
  margin-left: 20px;
  list-style: none;
  
}

.link{
  text-decoration: none;
  color: #898989;
  padding: 15px;
  font-size: 1.6rem;
}

