.movieGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    gap: 25px;
    justify-content: center;
    padding: 20px;
}





.titleRecomendation{
    font-size: 0.9rem;
    padding: 10px;
    color: #898989;
}